html,body {
    min-height: 100vh;
    background: #f6f7fb;
    color: #28292b;
}
text {
    &.yellow{
        color: #f5a34f;
    }
    &.red {
        color: #df646e;
    }
    &.gray {
        color: #888888;
    }
    &.in {
        color: #478755;
    }
    &.blue {
        color: rgba(113, 146, 185, 100);;
    }
}
.shadow {
    box-shadow: 0 0 16upx 0upx #d7d7d7;
}
.radius {
    border-radius: 8upx;
}
._flex {
    display: flex;
}
.btn_wrap {
    margin: 0 auto;
    width: 80%;
}
.text_overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bg{
    &-white {
        background: #fff;
    }
    &-none {
        background: #f6f7fb;
    }
}
.align {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}
.tab_wrap {
    display: flex;
    height: 100upx;
    .tab_item {
        line-height: 100upx;
        padding: 0 10upx;
        font-size: 28upx;
        color: #4a4b4f;
        &.active {
            color: #313131;
        }
    }
}
// page-footer

.page_footer_wrap {
    height: 100upx;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10upx 20upx;
    z-index: 99;
}